@page "/"


<div class="card">
    <div class="card-header">
        <h5>Blogentry Creator</h5>
    </div>
    <div class="card-body">
        <h5>Vorschau:</h5>
        <div>
            <h5>@Content.Title</h5>
            @foreach (var part in Content.ContentParts)
            {
                if (part.Type == Lib.Enums.ContentType.MarkDownText)
                {
                    <Entry>@((MarkupString)Markdown.ToHtml(part.Content))</Entry>
                }
                else
                {
                    <Entry>
                        @part.Content
                    </Entry>
                }
            }
        </div>
        Titel:
        <input class="form-control" type="text" @bind-value="Content.Title" />
        @foreach (var part in Content.ContentParts)
        {
            <div>
                <div class="d-flex align-items-end justify-content-end">
                    <span class="badge bg-primary align-center">@part.Type
                    <div class="btn-group dropend">
                        <button class="badge btn rounded-pill bg-light text-dark mx-1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="oi oi-wrench"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (ContentType item in Enum.GetValues(typeof(ContentType)))
                            {
                                <li><button class="dropdown-item" @onclick="(e)=>part.Type = item">@item.ToString()</button>
                                </li>
                            }
                        </ul>
                       
                    </div>
                     </span>
                </div>
                <textarea rows="@part.Lines" class="form-control" @bind="part.Content" @bind:event="oninput" @onkeydown="(e)=>AddLine(e,part)" />
            </div>
        }
        <p>
            <button class="btn btn-primary" @onclick="AddPart">+</button>
        </p>
    </div>
    <div class="card-footer">
        <Download Filename="@($"{Content.Id}.json")" ToDownload="@Content" />
        <button class="btn btn-primary" @onclick="GenerateContentlist">Generate ContentList</button>
        @if (Generated)
        {
            <Download Filename="@($"ContentList.json")" ToDownload="@IndexEntryModel" />
        }
    </div>
</div>